@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
body {
  @apply bg-slate-50 text-slate-900 antialiased;
  font-family: 'Inter', system-ui, sans-serif;
}

/* Custom Scrollbar for the Dashboard */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full;
}